.projects-window-wrapper>div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.projects-window-wrapper h2 {
    font-size: 2rem;
}

.projects-window-wrapper h2:hover {
    color: var(--clr-accent);
}
.projects-window-wrapper h3 {
    font-size: 1.3rem;
}

.projects-window-wrapper h2, .projects-window-wrapper h3 {
    text-align: left;
    color: var(--clr-text-primary);
}

.projects-window-wrapper ul {
    list-style-type:square;
}

.projects-window-wrapper li {
    margin-left: 1em;
    color: var(--clr-accent);
    font-weight: bold;
}

.projects-window-wrapper p {
    text-align: justify;
    margin: 1em;
}

.projects-window-wrapper section {
    border-style: outset;
    border-width: 3px 0;
    border-radius: 0.5em;

    padding: 1em 1em 2em 1em;

    /* box-shadow: 5px 5px; */
}

.project-technologies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-technologies-list>li {
  flex-basis: 40%;
}

.projects-window-head {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: baseline;
}

.projects-window-head a {
  font-family: var(--font-h);
}

.projects-window-head h2 {
  font-size: 1.5rem;
}

.projects-window-title-link {
    color: var(--clr-text-primary);
    text-decoration: underline;
}

.projects-window-title-link:hover {
    color: var(--clr-secondary);
    text-decoration-color: var(--clr-secondary);
}

.projects-window-source-link {
    font-weight: bold;
    font-size:1.2rem;
}

.projects-window-title-link, .projects-window-source-link {
    font-family: var(--font-main);
}