.blog-window-wrapper hr {
  width: 100%;
}

.blog-window-wrapper .nav-link {
  font-size: 1.3rem;
}

.blog-window-wrapper a {
  font-size: 2rem;
  
}

.blurb-window-individual-title {
  text-align: left;
}

.blog-window-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blurbs-window-individual-wrapper a {
  font-family: var(--font-main);
  font-size: 1.5rem;
  text-decoration: underline;
}

.blurbs-window-individual-wrapper h4 {
  text-align: left;
}

.blurbs-window-individual-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--clr-bg-secondary);


  padding: 0.5em 1em;

  border-radius: 1em;
  border-style: solid;
  border-width: 3px;
  border-color: var(--clr-accent);
}

.blurbs-window-individual-wrapper p {
  color: var(--clr-text-primary);
}