.blog-window-wrapper hr {
  width: 100%;
}

.blog-window-wrapper .nav-link {
  font-size: 1.3rem;
}

.blog-window-wrapper a {
  font-size: 2rem;
  
}

.blurb-window-individual-title {
  text-align: left;
}

.blog-window-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog-window-blurbs-wrapper a {
  font-family: var(--font-h);
  font-size: 1.5rem;
  text-decoration: underline;
}

.blog-window-body h2 {
  text-align: left;
}

.blog-window-body section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  padding: 0.5em 1em;

  border-style: outset;
  border-width: 3px 0;
  border-radius: 0.5em;

  padding: 1em 1em 2em 1em;
}

.blurbs-window-individual-wrapper p {
  color: var(--clr-text-primary);
}