.projects-preview-wrapper {
    color: var(--clr-accent);
}

.projects-preview-wrapper>div {
    display:flex;
    flex-direction: column;
    gap: 0.5em;
}

.projects-preview-individual-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    padding: 0.5em 1em;

    border-style: solid;
    border-width: 2px;
    border-radius: 1em;
    border-color: var(--clr-accent);
}

.projects-preview-wrapper h3 {
    font-size: 1.7rem;

}

.projects-preview-wrapper h4 {
    font-size: 1.4rem;
    text-align: left;

    color: var(--clr-text-primary-dark);
}

.projects-preview-wrapper p {
    color: var(--clr-text-primary-dark);
    line-height: 100%;
}

.projects-preview-wrapper ul {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    font-size: 0.75rem;
    justify-content: center;
}

.projects-preview-wrapper li {
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;

    border-radius: 1em;
    padding: 0.25em 0.75em;
}

.projects-preview-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projects-preview-links-wrapper a {
    font-family: 'Barriecito', serif;
}