.socials-ul {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 1em;
}

.social-icon>img {
    max-width: 2rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: var(--clr-translucent-heavy);
    border-width: 1px;
}

.social-icon:hover>img {
    background-color: var(--clr-secondary);
    border-color: var(--clr-secondary);
}

.social-icon:active>img {
    transform: scale(0.9, 0.9);
}