/* main link font */
/* @import url('https://fonts.googleapis.com/css?family=Lato'); */

/* header font */
/* @import url('https://fonts.googleapis.com/css?family=Oswald'); */

/* navbar font */
/* @import url('https://fonts.googleapis.com/css?family=Barriecito'); */

/* main text font */
/* @import url('https://fonts.googleapis.com/css?family=Titillium+Web'); */


:root {
  --clr-text-primary-dark: #FFC2CB;
  --clr-text-primary-light: #4A4C4C;
  
  --clr-bg-primary-dark: #021420;
  --clr-bg-secondary-dark: rgb(5, 27, 41);
  --clr-bg-primary-light: #F8FFEF;
  --clr-bg-secondary-light: #FAFAFF;

  --clr-primary-dark: #C73A6B;
  --clr-primary-light: #bdaf98;
  --clr-secondary-dark: #057694;
  --clr-secondary-light: #BCBE52;

  --clr-accent-dark: #FFBA08;
  --clr-accent-light: #B497D6;

  --clr-border-primary: #02020A;

  --clr-translucent-none: rgba(0, 0, 0, 0.0);
  --clr-translucent-light: rgba(0, 0, 0, 0.3);
  --clr-translucent-light-medium: rgba(0, 0, 0, 0.5);
  --clr-translucent-medium: rgba(0, 0, 0, 0.6);
  --clr-translucent-heavy: rgba(0, 0, 0, 0.7);

  --clr-bg-gradial-a: #8F8F8F;
  --clr-bg-gradial-b: #0A0A0A;

  --roundness-less: 0.5em;
  --roundness-standard: 1em;
  --roundness-more: 1.5em;

  --width-main: 45%;
  --width-left-column: min(20%, 13em);

  --img-bg-dark: linear-gradient(90deg, transparent 0%, var(--clr-bg-primary) 30%, var(--clr-bg-primary) 75%, transparent 100%), url('../public/background/background_h.jpg');
  --img-bg-light: linear-gradient(90deg, transparent 0%, var(--clr-bg-primary) 30%, var(--clr-bg-primary) 75%, transparent 100%), url('../public/background/background_l.jpg');

  --img-bg-dark-mobile: linear-gradient(180deg, transparent 0%, var(--clr-bg-primary) 20%), url('../public/background/background_h.jpg');
  --img-bg-light-mobile: linear-gradient(180deg, transparent 0%, var(--clr-bg-primary) 20%), url('../public/background/background_l.jpg');

  --font-h: 'Oswald', sans-serif;
  --font-a: 'Dangrek', cursive;
  --font-main: 'Murecho', sans-serif;
  --font-main-jp: 'Noto Sans JP', sans-serif;

  font-size: 1.25rem;
}

@media(prefers-color-scheme: light) {
  :root {
    --clr-text-primary: var(--clr-text-primary-light);
    --clr-bg-primary: var(--clr-bg-primary-light);
    --clr-bg-secondary: var(--clr-bg-secondary-light);
    --clr-accent: var(--clr-accent-light);
    --clr-primary: var(--clr-primary-light);
    --clr-secondary: var(--clr-secondary-light);
    --img-bg: var(--img-bg-light);
  }
}

@media(prefers-color-scheme: dark) {
  :root {
    --clr-text-primary: var(--clr-text-primary-dark);
    --clr-bg-primary: var(--clr-bg-primary-dark);
    --clr-bg-secondary: var(--clr-bg-secondary-dark);
    --clr-accent: var(--clr-accent-dark);
    --clr-primary: var(--clr-primary-dark);
    --clr-secondary: var(--clr-secondary-dark);
    --img-bg: var(--img-bg-dark);
  }
}

[color-scheme='light'] {
  --clr-text-primary: var(--clr-text-primary-light);
  --clr-bg-primary: var(--clr-bg-primary-light);
  --clr-bg-secondary: var(--clr-bg-secondary-light);
  --clr-accent: var(--clr-accent-light);
  --clr-primary: var(--clr-primary-light);
  --clr-secondary: var(--clr-secondary-light);
  --img-bg: var(--img-bg-light);
}

[color-scheme='dark'] {
  --clr-text-primary: var(--clr-text-primary-dark);
  --clr-bg-primary: var(--clr-bg-primary-dark);
  --clr-bg-secondary: var(--clr-bg-secondary-dark);
  --clr-accent: var(--clr-accent-dark);
  --clr-primary: var(--clr-primary-dark);
  --clr-secondary: var(--clr-secondary-dark);
  --img-bg: var(--img-bg-dark);
}

html, body, nav, main, ul, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  /* line-height: 120%; */
}

ul {
  list-style-type: none;
}

hr {
  color: var(--clr-accent);
}

a {
  text-decoration: none;
  color: var(--clr-primary);
}

a:hover,
a:focus {
  color: var(--clr-secondary);
}

a:active {
  transform: scale(0.9, 0.9);
}

html {
  scroll-behavior: smooth;
  color: var(--clr-text-primary);
  background-color: var(--clr-bg-primary);  
  font-family: var(--font-main);
}

html[lang=jp] {
  font-family: var(--font-main-jp);
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: var(--img-bg);
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--clr-accent);
  font-family: var(--font-h);
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  
}

.left-column-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  margin-left: 1rem;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 300px;
}

.left-column-wrapper>div {
  background-color: var(--clr-translucent-medium);
  border: var(--clr-border-primary) solid 3px;
  border-radius: var(--roundness-standard);
  padding: 1em;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media(max-width: 800px) {

  @media(prefers-color-scheme: light) {
    :root {
      --img-bg: var(--img-bg-light-mobile);
    }
  }

  @media(prefers-color-scheme: dark) {
    :root {
      --img-bg: var(--img-bg-dark-mobile);
    }
  }

  [color-scheme='light'] {
    --img-bg: var(--img-bg-light-mobile);
  }

  [color-scheme='dark'] {
    --img-bg: var(--img-bg-dark-mobile);
  }

  .left-column-wrapper {
    display: none;
  }

  .app-wrapper {
    min-height: 90vh;
  }
}