/* main link font */
@import url('https://fonts.googleapis.com/css?family=Lato');

/* header font */
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* navbar font */
@import url('https://fonts.googleapis.com/css?family=Barriecito');

/* main text font */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


:root {
  --clr-text-primary-dark: #FFC2CB;
  --clr-text-primary-light: #4A4C4C;
  
  --clr-bg-primary-dark: #021420;
  --clr-bg-primary-light: #F8FFEF;

  --clr-primary-dark: #C73A6B;
  --clr-primary-light: #BCBE52;
  --clr-secondary-dark: #057694;
  --clr-secondary-light: #D8CCB9;

  --clr-accent-dark: #FFBA08;
  --clr-accent-light: #B497D6;

  --clr-border-primary: #02020A;

  --clr-translucent-none: rgba(0, 0, 0, 0.0);
  --clr-translucent-light: rgba(0, 0, 0, 0.3);
  --clr-translucent-light-medium: rgba(0, 0, 0, 0.5);
  --clr-translucent-medium: rgba(0, 0, 0, 0.6);
  --clr-translucent-heavy: rgba(0, 0, 0, 0.7);

  --clr-bg-gradial-a: #8F8F8F;
  --clr-bg-gradial-b: #0A0A0A;

  --roundness-less: 0.5em;
  --roundness-standard: 1em;
  --roundness-more: 1.5em;

  --width-main: 45%;
  --width-left-column: min(20%, 13em);

  --img-bg-dark: linear-gradient(90deg, transparent 0%, var(--clr-bg-primary) 30%, var(--clr-bg-primary) 75%, transparent 100%), url('../public/background/background_h.jpg');
  --img-bg-light: linear-gradient(90deg, transparent 0%, var(--clr-bg-primary) 30%, var(--clr-bg-primary) 75%, transparent 100%), url('../public/background/background_l.jpg');

  font-size: 1.25rem;
}

@media(prefers-color-scheme: light) {
  :root {
    --clr-text-primary: var(--clr-text-primary-light);
    --clr-bg-primary: var(--clr-bg-primary-light);
    --clr-accent: var(--clr-accent-light);
    --clr-primary: var(--clr-primary-light);
    --clr-secondary: var(--clr-secondary-light);
    --img-bg: var(--img-bg-light);
  }
}

[color-scheme='light'] {
  --clr-text-primary: var(--clr-text-primary-light);
  --clr-bg-primary: var(--clr-bg-primary-light);
  --clr-accent: var(--clr-accent-light);
  --clr-primary: var(--clr-primary-light);
  --clr-secondary: var(--clr-secondary-light);
  --img-bg: var(--img-bg-light);
}

@media(prefers-color-scheme: dark) {
  :root {
    --clr-text-primary: var(--clr-text-primary-dark);
    --clr-bg-primary: var(--clr-bg-primary-dark);
    --clr-accent: var(--clr-accent-dark);
    --clr-primary: var(--clr-primary-dark);
    --clr-secondary: var(--clr-secondary-dark);
    --img-bg: var(--img-bg-dark);
  }
}

[color-scheme='dark'] {
  --clr-text-primary: var(--clr-text-primary-dark);
  --clr-bg-primary: var(--clr-bg-primary-dark);
  --clr-accent: var(--clr-accent-dark);
  --clr-primary: var(--clr-primary-dark);
  --clr-secondary: var(--clr-secondary-dark);
  --img-bg: var(--img-bg-dark);
}


html, body, nav, main, ul, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--clr-primary);
  font-family: 'Lato', sans-serif;
}

a:hover,
a:focus {
  color: var(--clr-secondary);
}

a:active {
  transform: scale(0.9, 0.9);
}

html {
  scroll-behavior: smooth;
  color: var(--clr-text-primary);
  background-color: var(--clr-bg-primary);
  /* background-image: linear-gradient(to right, transparent, var(--clr-bg-primary) 550px), url('../public/backgrounds/background.jpg'); */
  background-image: var(--img-bg); 
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: var(--clr-accent);
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-family: 'Titillium Web', sans-serif;
}

.left-column-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  margin-left: 1rem;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left-column-wrapper div {
  background-color: var(--clr-translucent-light);
  border: var(--clr-border-primary) solid 3px;
  border-radius: var(--roundness-standard);
  padding: 1em;
}