.nav-dropdown {
    background-color: var(--clr-translucent-heavy);

    width: 500px;
    right: 0;

    position: fixed;

    margin-right: 20px;
    padding: 1em 2em;

    border-radius: 0 0 1em 1em;
}